<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class="user-show-item">
	id: <%= @user.id %><br/>
	Username: <%= @user.username %><br/>
	email: <%= @user.email %><br/>
	age:
	<div class="user-time">
		time:<%= @user.created_at %>
	</div>
	<div class="user-edit">
		<% if @user.id == current_user.id %>
			<%= link_to("編集", edit_user_registration_path) %>
			<%= link_to('ログアウト', destroy_user_session_path, method: :delete) %>
		<% end %>
	</div>
</div>